POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=the_angkor_times

DATABASE_DRIVER=postgres-js
DATABASE_URL=postgresql://admin:supersecret@localhost:5432/the_angkor_times

BLOB_STORE_ID=your-store-id
BLOB_READ_WRITE_TOKEN=your-token
