@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-mono: "IoskeleyMono", monospace;

  --color-ink-50: #fafaf9;
  --color-ink-100: #f5f5f4;
  --color-ink-200: #e6e5e5;
  --color-ink-300: #d5d2d2;
  --color-ink-400: #a6a0a0;
  --color-ink-500: #756f6f;
  --color-ink-600: #555150;
  --color-ink-700: #423e3e;
  --color-ink-800: #282526;
  --color-ink-900: #201d1d;
  --color-ink-950: #0b0a0a;

  --color-info-50: #eef6ff;
  --color-info-100: #daeaff;
  --color-info-200: #bddbff;
  --color-info-300: #90c6ff;
  --color-info-400: #4a9dff;
  --color-info-500: #3583fc;
  --color-info-600: #1f63f1;
  --color-info-700: #174dde;
  --color-info-800: #193fb4;
  --color-info-900: #1a398e;
  --color-info-950: #152556;

  --color-success-50: #f1fcf3;
  --color-success-100: #defae4;
  --color-success-200: #bef4ca;
  --color-success-300: #8beaa2;
  --color-success-400: #51d772;
  --color-success-500: #30d158;
  --color-success-600: #1d9c3d;
  --color-success-700: #1a7b33;
  --color-success-800: #1a612c;
  --color-success-900: #175027;
  --color-success-950: #072c12;

  --color-warning-50: #fffaea;
  --color-warning-100: #fff2c5;
  --color-warning-200: #ffe485;
  --color-warning-300: #ffd046;
  --color-warning-400: #ffbb1b;
  --color-warning-500: #ff9f0a;
  --color-warning-600: #e27500;
  --color-warning-700: #bb4e02;
  --color-warning-800: #983c08;
  --color-warning-900: #7c320b;
  --color-warning-950: #481800;

  --color-error-50: #fff2f1;
  --color-error-100: #ffe3e1;
  --color-error-200: #ffcbc7;
  --color-error-300: #ffa6a0;
  --color-error-400: #ff5b50;
  --color-error-500: #f8473b;
  --color-error-600: #e52a1d;
  --color-error-700: #c11f14;
  --color-error-800: #a01d14;
  --color-error-900: #841f18;
  --color-error-950: #480b07;

  --color-uv-50: #f5f3ff;
  --color-uv-100: #ede8ff;
  --color-uv-200: #d9cfff;
  --color-uv-300: #b9a6ff;
  --color-uv-400: #9674ff;
  --color-uv-500: #7c4dff;
  --color-uv-600: #6732ec;
  --color-uv-700: #5726c8;
  --color-uv-800: #481fa6;
  --color-uv-900: #3a1a85;
  --color-uv-950: #230a5a;
}

:root {
  --ui-container: 80rem;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--ui-bg-muted);
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-bg-muted) transparent;
}

@source "../../../content/**/*";
